{% extends "base.html" %}

{% block content %}

    <!-- {{ session['logged_in']  }}
    {{ session['user']  }} -->

    <div class="card">
        <h1 class="center">Choose your journey!</h1>
        <p class="center">Welcome!</p>
        
        <div class="center">
            <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
            <a href="https://www.examifai.com/" class="btn btn--primary">Go to Examifai</a>
        </div>
    </div>

    <div class="card">
        <h1 class="center">Your Info</h1>


        <p>
            <strong>Name:</strong> {{ session['user']['name']}}<br>
            <strong>Email:</strong> {{ session['user']['email']}}
        </p>
    </div>
        
{% endblock %}